@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-red: #ce1126;
  --color-yellow: #fcd116;
  --color-blue: #0139a8;
  --color-black: #121212;
  --color-gray: #222323;
  --imgMKV-url: url("/src/asset/mkv-bg.png");
}

* {
  font-family: poppins;
}

body {
  background-color: var(--color-yellow);
  background-image: url("/src/asset/vertical-flag.png");
  background-repeat: no-repeat;
  background-size: 50px;
}

.no-scroll {
  overflow: hidden;
}
